.card {
    //functionality of card
    perspective: 150rem; //lower value, the more dramatic the effect
    -moz-perspective: 150rem;
    position: relative;
    height: 55rem;
    
    &__side {
        // max-height: 60rem; // fixes issue with wide screens, but the back side of card is smaller
        height: 55rem;
        transition: transform .85s ease;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        
        &--front{
            background-color: white;
        }

        &--back{
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            &-3 {
                background-image: linear-gradient(to right bottom, $color-danger-light, $color-danger-dark);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0deg);
    }
    //Front side styling
    &__picture {
        background-size: cover;
        position: relative;
        height: 23rem;
        background-blend-mode: screen; // same as photoshop, you blend the two backgrounds
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        
        &--1 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/nat-5.jpg);
        }
        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/nat-6.jpg);
        }
        &--3 {
            background-image: linear-gradient(to right bottom, $color-danger-light, $color-danger-dark), url(../img/volcano.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone; //break the same line of text into its own entity
        &--1 {
            background-image: linear-gradient(to right bottom,
            rgba($color-secondary-light, .85),
            rgba($color-secondary-dark, .85));
        }
        &--2 {
            background-image: linear-gradient(to right bottom,
            rgba($color-secondary-light, .85),
            rgba($color-secondary-dark, .85));
        }
        &--3 {
            background-image: linear-gradient(to right bottom,
            rgba($color-secondary-light, .85),
            rgba($color-secondary-dark, .85));
        }
    }

    &__details {
        padding: 3rem;
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            
            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                
                &:not(:last-child){
                    border-bottom: 1px solid $color-gray-light-2;
                }
            }
        }
    }
    &__cta {
        @include centerHV;
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }
    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }

    // @include respond(tab-port) {
        @media only screen and (max-width: 56.25em),
               only screen and (hover: none){ // devices that cannot use hover (ipads)
        
        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &__side {
            // max-height: 60rem; // fixes issue with wide screens, but the back side of card is smaller
            height: auto;
            position: relative;
            overflow: hidden;
            box-shadow: none;

            &--back{
                transform: rotateY(0deg);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &__side--front {
            transform: rotateY(0deg);
        }

        .card__details {
            padding: 1rem;
        }

        &__cta {
            @include centerHV;
            top: 0;
            left: 0;
            width: 100%;
            transform: translate(0);
            position: relative;
            padding: 7rem 4rem 4rem 4rem;
        }

        &__price-box {
            margin-bottom: 3rem;
        }

        &__price-value {
            font-weight: 100;
        }
    }
}