/* ANIMATIONS */
/* Move in from left side of container*/
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem); /* -100px -> +20px -> 0px  Moves in, goes over a bit, moves back  */
    }   

    80%{
        transform: translateX(1.5rem);
    }

    100%{
        opacity: 1;
        transform: translate(0); /* RETURN TO DEFAULT */
    }
}
    /* Move in from right side of container*/
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem); /* -100px -> +20px -> 0px  Moves in, goes over a bit, moves back  */
    }   

    80%{
        transform: translateX(-1rem);
    }

    100%{
        opacity: 1;
        transform: translate(0); /* RETURN TO DEFAULT */
    }
}
    /* Move in from bottom of container*/
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem); /* -100px -> +20px -> 0px  Moves in, goes over a bit, moves back  */
    }   

    100%{
        opacity: 1;
        transform: translate(0); /* RETURN TO DEFAULT */
    }
}